body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #00172D, #003566);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-links a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
}

.prediction-container {
  text-align: center;
  margin-top: 50px;
}

.input-box {
  padding: 12px;
  width: 220px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.predict-btn {
  padding: 12px 24px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.predict-btn:hover {
  transform: scale(1.05);
}